<div class="body-innerwrapper">
    <!-- start top bar -->
    <section id="sp-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="sp-column ">
                            <ul class="social-icons">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="sp-top2" class="col-sm-6 col-md-6">
                        <div class="sp-column ">
                            <ul class="sp-contact-info">
                                <li class="sp-contact-phone">
                                    <i class="fa fa-phone"></i>+974 XXXX XXXX</li>
                                <li class="sp-contact-email">
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:info@toys4smile.com">info@toys4smile.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end top bar -->
        <!-- start header -->
        <header id="sp-header">
            <div class="container">
                <div class="row">
                    <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                        <div class="sp-column ">
                            <a class="logo" routerLink="/home">
                                <h1>
                                    <img class="sp-default-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                        alt="Toy4Smile">
                                    <img class="sp-retina-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                        alt="Toy4Smile" width="111" height="43">
                                </h1>
                            </a>
                        </div>
                    </div>
                    <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                        <div class="sp-column ">
                            <div class='sp-megamenu-wrapper'>
                                <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                                <ul *ngIf="!isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                    <li class="sp-menu-item">
                                        <a routerLink="/home">Home</a>
                                    </li>
                                    <li class="sp-menu-item">
                                        <a routerLink="/aboutus">About Us</a>
                                    </li>
                                    <li class="sp-menu-item">
                                        <a routerLink="/register">Register</a>
                                    </li>
                                    <li class="sp-menu-item">
                                        <a routerLink="/signin">Sign In</a>
                                    </li>
                                    <li class="sp-menu-item sp-has-child">
                                        <a routerLink="/donor">Donate</a>
                                        <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                            <div class="sp-dropdown-inner">
                                                <ul class="sp-dropdown-items">
                                                    <li class="sp-menu-item">
                                                        <a routerLink="/signin">Donate as Registered User</a>
                                                    </li>
                                                    <li class="sp-menu-item">
                                                        <a routerLink="/guest">Donate as Guest</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sp-menu-item">
                                        <a routerLink="/track">Track</a>
                                    </li>
                                </ul>
                                <ul *ngIf="isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                    <li class="sp-menu-item">
                                        <a routerLink="/home">Home</a>
                                    </li>
                                    <li class="sp-menu-item">
                                        <a routerLink="/aboutus">About Us</a>
                                    </li>
                                    <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                                        <a routerLink="/admin/admin-donations">Dashboard</a>
                                    </li>
                                    <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                                        <a routerLink="/admin/admin-donations">Dashboard</a>
                                    </li>
                                    <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                                        <a routerLink="/donor">Donate</a>
                                    </li>
                                    <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                                        <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                                    </li>
                                    <li class="sp-menu-item">
                                        <a routerLink="/track">Track</a>
                                    </li>
                                    <li class="sp-menu-item">
                                            <a routerLink="/logout">Sign Out</a>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
    <section id="sp-page-title">
        <div class="row">
            <div id="sp-title" class="col-sm-12 col-md-12">
                <div class="sp-column ">
                    <div class="sp-page-title">
                        <div class="container">
                            <h2>Donation Successful!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-main-body">
        <div class="container" style="margin-top:20px; margin-bottom:40px;">
            <div class="row">
                <div id="sp-component" class="col-sm-12 col-md-12">
                    <div class="sp-column">
                        <div id="system-message-container">
                        </div>
                        <div class="bloglan_project">
                            <div class="items-row row-0 row clearfix">
                                <div class="col-sm-6">
                                    <article class="item column-1">
                                        <h3>Donation Successful!</h3>
                                        <br>
                                        <h4>Tracking ID: <b style="color:#D96B49">{{trackResult?.TrackingId}}</b></h4>
                                        Thank you for your donation. A confirmation email has also been sent at your
                                        provided email address containing Tracking
                                        ID of your donation for reference.
                                        <br><br>
                                        <b style="color:#D96B49">Donation Details:</b>
                                        <br>
                                        <b>Status of your donation:</b> <i> {{trackResult?.status}}</i>
                                        <br>
                                        <b>Number of toys donated:</b> {{trackResult?.noOfToysDonated}}
                                        <br>
                                        <b>Date of donation:</b> {{dateOfDonation}}
                                        <br>
                                        <br>
                                        <p class="readmore">
                                            <a class="btn btn-default" routerLink="/home">
                                                Home
                                            </a>
                                        </p>
                                    </article>
                                    <!-- end item -->
                                </div>
                                <div class="col-sm-6 entry-image intro-image" style="text-align: center;">
                                    <img src="assets/images/donation-success.jpg" alt="" style="text-align: center;" />
                                </div>
                                <!-- end col-sm-* -->
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <!-- Start offcanvas-menu -->
    <div class="offcanvas-menu">
        <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
        <div class="offcanvas-inner">
            <div class="sp-module">
                <div class="sp-module-content">
                    <div *ngIf="isLoggedIn; else notLoggedIn">
                        <ul class="nav menu">
                            <li class="sp-menu-item">
                                <a routerLink="/home">Home</a>
                            </li>
                            <li class="sp-menu-item">
                                <a routerLink="/aboutus">About Us</a>
                            </li>
                            <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                                <a routerLink="/admin/admin-donations">Dashboard</a>
                            </li>
                            <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                                <a routerLink="/admin/admin-donations">Dashboard</a>
                            </li>
                            <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                                <a routerLink="/donor">Donate</a>
                            </li>
                            <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                                <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                            </li>
                            <li class="sp-menu-item">
                                <a routerLink="/track">Track</a>
                            </li>
                            <li class="sp-menu-item">
                                <a routerLink="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                    <ng-template #notLoggedIn>
                        <ul class="nav menu">
                            <li class="current active deeper parent">
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>
                                <a routerLink="/aboutus">About Us</a>
                            </li>
                            <li>
                                <a routerLink="/register">Register</a>
                            </li>
                            <li>
                                <a routerLink="/signin">Sign In</a>
                            </li>
                            <li>
                                <a routerLink="/signin">Donate as Registered User</a>
                            </li>
                            <li>
                                <a routerLink="/guest">Donate as Guest</a>
                            </li>
                            <li>
                                <a routerLink="/track">Track</a>
                            </li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <!-- End offcanvas-menu -->
</div>