<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#D96B49" loadingText="Please wait..." type="ball-scale-multiple">
</ngx-spinner>
<div class="body-innerwrapper">
    <!-- start top bar -->
    <section id="sp-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="sp-top2" class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="sp-contact-info">
                            <li class="sp-contact-phone">
                                <i class="fa fa-phone"></i>+974 XXXX XXXX</li>
                            <li class="sp-contact-email">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@toys4smile.com">info@toys4smile.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end top bar -->
    <!-- start header -->
    <header id="sp-header">
        <div class="container">
            <div class="row">
                <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                    <div class="sp-column ">
                        <a class="logo" routerLink="/home">
                            <h1>
                                <img class="sp-default-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile">
                                <img class="sp-retina-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile" width="111" height="43">
                            </h1>
                        </a>
                    </div>
                </div>
                <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                    <div class="sp-column ">
                        <div class='sp-megamenu-wrapper'>
                            <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                            <ul *ngIf="!isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/register">Register</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/signin">Sign In</a>
                                </li>
                                <li class="sp-menu-item sp-has-child">
                                    <a routerLink="/donor">Donate</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item">
                                                    <a routerLink="/signin">Donate as Registered User</a>
                                                </li>
                                                <li class="sp-menu-item">
                                                    <a routerLink="/guest">Donate as Guest</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                            </ul>
                            <ul *ngIf="isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                                    <a routerLink="/donor">Donate</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                                    <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                                <li class="sp-menu-item">
                                        <a routerLink="/logout">Sign Out</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
  <section id="sp-page-title">
    <div class="row">
      <div id="sp-title" class="col-sm-12 col-md-12">
        <div class="sp-column ">
          <div class="sp-page-title">
            <div class="container">
              <h2>Track your Donation(s)</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="container">
      <div class="row">
        <div id="sp-component" class="col-sm-12 col-md-12">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div class="container" style="margin-top:60px; margin-bottom:40px;">
              <div id="k2Container" class="k2AccountPage">
                <form action="#" [formGroup]="searchDonation" (ngSubmit)="searchDonations()" method="post" class="form-validate">
                  <table class="admintable col-sm-offset-3">
                    <tr>
                      <td class="key">
                        <label id="track" for="track">Tracking ID
                          <!-- <span style="color:#D96B49">*</span> -->
                        </label>
                      </td>
                      <td>
                        <input type="text" formControlName="trackingId" name="trackingid" id="trackingid" value=""
                          class="validate-username required" size="40" placeholder="Type Donation's Tracking ID"
                          required aria-required="true" />
                      </td>
                    </tr>
                    <tr>
                      <td class="key">
                      </td>
                      <td>
                        <button [disabled]="!searchDonation.valid" type="submit" class="btn btn-primary btn-block">Track
                          Donation</button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="trackResult" class="row" style="margin-bottom:60px;">
        <div class="pure-table" width="100">
          <section id="sp-page-title">
            <div class="row">
              <div id="sp-title" class="col-sm-12 col-md-12">
                <div class="sp-column ">
                  <div class="sp-page-title">
                    <div class="container">
                      <h2>Donation Status</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div>
            <div class="cmdonation">
              <table class="pure-table pure-table-horizontal pure-table-striped">
                <thead>
                  <tr>
                    <th class="pure-text-center">Tracking Id</th>
                    <th class="pure-text-center">Status</th>
                  </tr>
                </thead>
                <tbody style="text-align: center">
                  <tr>
                    <td class="pure-text-center">
                      <a routerLink="/view-donation/{{trackResult?.DonationId}}">{{trackResult?.TrackingId}}</a>
                    </td>
                    <td>
                      {{trackResult?.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <!-- Start offcanvas-menu -->
  <div class="offcanvas-menu">
      <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
      <div class="offcanvas-inner">
          <div class="sp-module">
              <div class="sp-module-content">
                  <div *ngIf="isLoggedIn; else notLoggedIn">
                      <ul class="nav menu">
                          <li class="sp-menu-item">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                              <a routerLink="/donor">Donate</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                              <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/track">Track</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/logout">Sign Out</a>
                          </li>
                      </ul>
                  </div>
                  <ng-template #notLoggedIn>
                      <ul class="nav menu">
                          <li class="current active deeper parent">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li>
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li>
                              <a routerLink="/register">Register</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Sign In</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Donate as Registered User</a>
                          </li>
                          <li>
                              <a routerLink="/guest">Donate as Guest</a>
                          </li>
                          <li>
                              <a routerLink="/track">Track</a>
                          </li>
                      </ul>
                  </ng-template>
              </div>
          </div>
      </div>
  </div>
  <!-- End offcanvas-menu -->
</div>