  <!-- start top bar -->
  <section id="sp-top-bar">
    <div class="container">
       <div class="row">
          <div  class="col-sm-6 col-md-6">
             <div class="sp-column ">
                <ul class="social-icons">
                   <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                   <li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
                   <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
             </div>
          </div>
          <div id="sp-top2" class="col-sm-6 col-md-6">
             <div class="sp-column ">
                <ul class="sp-contact-info">
                   <li class="sp-contact-phone"><i class="fa fa-phone"></i>+974 XXXX XXXX</li>
                   <li class="sp-contact-email"><i class="fa fa-envelope"></i> <a href="mailto:info@toys4smile.com">info@toys4smile.com</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- end top bar -->
 <!-- start header -->
 <header id="sp-header">
    <div class="container">
       <div class="row">
          <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
             <div class="sp-column ">
                <a class="logo" routerLink="/home">
                   <h1><img class="sp-default-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png" alt="Toy4Smile"><img class="sp-retina-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png" alt="Toy4Smile" width="111" height="43"></h1>
                </a>
             </div>
          </div>
          <div *ngIf="isLoggedIn; else notLoggedIn" id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
             <div class="sp-column ">
                <div class='sp-megamenu-wrapper'>
                   <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                   <ul class="sp-megamenu-parent menu-fade-up hidden-xs">
                      <li class="sp-menu-item"><a routerLink="/home">Home</a></li>
                      <li class="sp-menu-item"><a routerLink="/aboutus">About Us</a></li>
                      <li class="sp-menu-item" *ngIf="user?.RoleId === 1"><a routerLink="/admin-donations">Dashboard</a></li>
                      <li class="sp-menu-item" *ngIf="user?.RoleId === 2"><a routerLink="/admin-donations">Dashboard</a></li>
                      <li class="sp-menu-item" *ngIf="user?.RoleId === 3"><a routerLink="/donor">Donate</a></li>
                      <li class="sp-menu-item" *ngIf="user?.RoleId === 5"><a routerLink="/orphanage">Dashboard</a></li>
                      <li class="sp-menu-item"><a routerLink="/track">Track</a></li>
                      <li class="btn sp-menu-item"><a routerLink="/logout">Sign Out</a></li>
                   </ul>
                </div>
             </div>
          </div>
          <ng-template #notLoggedIn>
              <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                  <div class="sp-column ">
                     <div class='sp-megamenu-wrapper'>
                        <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                        <ul class="sp-megamenu-parent menu-fade-up hidden-xs">
                           <li class="sp-menu-item"><a routerLink="/home">Home</a></li>
                           <li class="sp-menu-item"><a routerLink="/aboutus">About Us</a></li>
                           <li class="sp-menu-item"><a routerLink="/register">Register</a></li>
                           <li class="sp-menu-item"><a routerLink="/signin">Sign In</a></li>
                           <li class="sp-menu-item sp-has-child">
                             <a routerLink="/donor">Donate</a>
                             <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                <div class="sp-dropdown-inner">
                                   <ul class="sp-dropdown-items">
                                      <li class="sp-menu-item"><a routerLink="/signin">Donate as Registered User</a></li>
                                      <li class="sp-menu-item"><a routerLink="/guest">Donate as Guest</a></li>
                                   </ul>
                                </div>
                             </div>
                          </li>
                           <li class="sp-menu-item"><a routerLink="/track">Track</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
          </ng-template>
       </div>
    </div>
 </header>
 <!-- end header -->