<div class="offcanvas-menu">
  <a href="#" class="close-offcanvas">
    <i class="fa fa-remove"></i>
  </a>
  <div class="offcanvas-inner">
    <h3 class="sp-module-title">Main Menu</h3>
    <div class="sp-module">
      <div class="sp-module-content">
        <div *ngIf="isLoggedIn; else notLoggedIn">
          <ul class="nav menu">
            <li class="current active deeper parent">
              <a routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLink="/aboutus">About Us</a>
            </li>
            <li>
              <a *ngIf="user?.RoleId === 1 || user?.RoleId === 2" routerLink="/admin-donations">Dashboard</a>
              <a *ngIf="user?.RoleId === 3" routerLink="/donor">Donate</a>
              <a *ngIf="user?.RoleId === 5" routerLink="/orphanage">Dashboard</a>
            </li>
            <li>
              <a routerLink="/track">Track</a>
            </li>
            <li>
              <a routerLink="/logout">Sign Out</a>
            </li>
          </ul>
        </div>
        <ng-template #notLoggedIn>
          <ul class="nav menu">
            <li class="current active deeper parent">
              <a routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLink="/aboutus">About Us</a>
            </li>
            <li>
              <a routerLink="/register">Register</a>
            </li>
            <li>
              <a routerLink="/signin">Sign In</a>
            </li>
            <li>
              <a routerLink="/signin">Donate as Registered User</a>
            </li>
            <li>
              <a routerLink="/guest">Donate as Guest</a>
            </li>
            <li>
              <a routerLink="/track">Track</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>