<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#D96B49"
  loadingText="Please wait..."
  type="ball-scale-multiple">
</ngx-spinner>
<style>
  .form-control {
    width: 100%;
    height: 33px;
    padding-right: 0px;
    padding-left: 10px;
  }

  .sp-module ul>li>a {
    line-height: 25px;
  }

  .sp-module .sp-module-title {
    margin: 0 0 5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .h5 {
    margin-top: 0px;
  }
</style>
<div class="body-innerwrapper">
    <!-- start top bar -->
    <section id="sp-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="sp-top2" class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="sp-contact-info">
                            <li class="sp-contact-phone">
                                <i class="fa fa-phone"></i>+974 XXXX XXXX</li>
                            <li class="sp-contact-email">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@toys4smile.com">info@toys4smile.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end top bar -->
    <!-- start header -->
    <header id="sp-header">
        <div class="container">
            <div class="row">
                <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                    <div class="sp-column ">
                        <a class="logo" routerLink="/home">
                            <h1>
                                <img class="sp-default-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile">
                                <img class="sp-retina-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile" width="111" height="43">
                            </h1>
                        </a>
                    </div>
                </div>
                <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                    <div class="sp-column ">
                        <div class='sp-megamenu-wrapper'>
                            <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                            <ul *ngIf="!isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/register">Register</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/signin">Sign In</a>
                                </li>
                                <li class="sp-menu-item sp-has-child">
                                    <a routerLink="/donor">Donate</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item">
                                                    <a routerLink="/signin">Donate as Registered User</a>
                                                </li>
                                                <li class="sp-menu-item">
                                                    <a routerLink="/guest">Donate as Guest</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                            </ul>
                            <ul *ngIf="isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                                    <a routerLink="/donor">Donate</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                                    <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                                <li class="sp-menu-item">
                                        <a routerLink="/logout">Sign Out</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
  <section id="sp-page-title">
    <div class="row">
      <div id="sp-title" class="col-sm-12 col-md-12">
        <div class="sp-column ">
          <div class="sp-page-title">
            <div class="container">
              <h2 class="col-sm-6" style="text-align:left">Welcome, {{user?.firstName}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="margin-top:30px;" id="sp-main-body">
    <div class="container" style="min-height: 300px;">
      <div class="row">
        <div id="sp-left" class="col-sm-3 col-md-3">
          <div class="sp-column custom-class">
            <div class="sp-module">
              <h3 class="sp-module-title">Manage</h3>
              <div class="sp-module-content">
                <ul class="nav menu">
                  <li class="item-477" routerLinkActive="active">
                    <a routerLink="/admin/admin/admin-donations" style="color:#D96B49">Donations</a>
                  </li>
                  <li class="item-475" routerLinkActive="active">
                    <a routerLink="/admin/admin/admin-users">User Accounts</a>
                  </li>
                </ul>
              </div>
              <form [formGroup]="searchDonation" (ngSubmit)="searchDonations()" method="post" class="form-validate">
              <div class="input-group" style="margin-top:15px;margin-bottom:15px;">
                <span class="input-group-addon" style="color:#D96B49">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </span>
                <input type="text" formControlName="trackingId" name="trackingid" id="trackingid" value="" class="validate-username required"
                          size="25" placeholder="Type your tracking id" required aria-required="true" />
              </div>
             </form>
              <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                <button routerLink="/admin/admin-donations" class="btn btn-primary btn-block col-sm-12">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div id="sp-component" class="col-sm-9 col-md-9">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div class="row" style="margin-bottom:0px;">
              <div class="pure-table" width="100">
                <section id="sp-page-title">
                  <div class="row">
                    <div id="sp-title" class="col-sm-12 col-md-12">
                      <div class="sp-column ">
                        <div class="sp-page-title">
                          <div class="container">
                            <h2>Donation Status: {{trackResult?.status}}</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <div>
                  <div class="cmdonation">
                    <table *ngIf="trackResult != null" class="pure-table pure-table-horizontal pure-table-striped">
                      <thead>
                        <tr>
                          <th class="pure-text-center">#</th>
                          <th class="pure-text-center">Tracking Id</th>
                          <th class="pure-text-center">Status</th>
                          <th class="pure-text-center pure-hidden-phone">Actions</th>
                        </tr>
                      </thead>
                      <tbody style="text-align: center">
                        <tr>
                          <td class="pure-text-center">1</td>
                          <td class="pure-text-center">
                            <a routerLink="/admin/admin-view-donation/{{trackResult.DonationId}}">{{trackResult?.TrackingId}}</a>
                          </td>
                          <td>
                            <select (change)="onChange1($event.target.value,trackResult)" (ngModel)="trackResult.status" value="{{trackResult?.status}}" class="col-sm-3 form-control"
                              id="exampleFormControlSelect2">
                              <option value="Waiting for collection">Waiting for collection</option>
                              <option value="Collected">Collected</option>
                              <option value="Packaged">Packaged</option>
                              <option value="Delivered to Shipping">Delivered to Shipping</option>
                              <option value="Reached Destination">Reached Destination</option>
                              <option value="Delivered">Delivered</option>
                              <option hidden value="Received">Received</option>
                            </select>
                          </td>
                          <td class="pure-hidden-phone">
                              <button data-toggle="tooltip" title="View Donation" routerLink="/admin/admin-view-donation/{{trackResult?.DonationId}}">
                                <span class="fa fa-eye pure-hidden-phone"></span>
                              </button>&nbsp;
                            <button data-toggle="tooltip" title="Edit Donation" routerLink="/admin/edit-donation/{{trackResult?.DonationId}}">
                                <span class="fa fa-edit pure-hidden-phone" (click)="onEdit()"></span>
                            </button>&nbsp;
                            <button data-toggle="modal" data-target="#myModal" title="Delete Donation" (click)="onDelete(trackResult)">
                              <span class="fa fa-remove pure-hidden-phone"></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="trackResult == null" style="text-align: center; color:#D96B49">
                      <p>No donations are available against this tracking id!</p>
                    </div>
                    <div *ngIf="trackResult != null" class="container">
                      <div class="col-sm-12">
                        <div class="pagination-wrapper">
                          <ul class="pagination">
                            <li class='active'>
                              <a>1</a>
                            </li>
                            <li>
                              <a class='' href='#' title='2'>2</a>
                            </li>
                            <li>
                              <a class='next' href='#' title='&raquo;'>&raquo;</a>
                            </li>
                            <li>
                              <a class='' href='#' title='End'>End</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <!-- Start offcanvas-menu -->
  <div class="offcanvas-menu">
      <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
      <div class="offcanvas-inner">
          <div class="sp-module">
              <div class="sp-module-content">
                  <div *ngIf="isLoggedIn; else notLoggedIn">
                      <ul class="nav menu">
                          <li class="sp-menu-item">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                              <a routerLink="/donor">Donate</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                              <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/track">Track</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/logout">Sign Out</a>
                          </li>
                      </ul>
                  </div>
                  <ng-template #notLoggedIn>
                      <ul class="nav menu">
                          <li class="current active deeper parent">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li>
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li>
                              <a routerLink="/register">Register</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Sign In</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Donate as Registered User</a>
                          </li>
                          <li>
                              <a routerLink="/guest">Donate as Guest</a>
                          </li>
                          <li>
                              <a routerLink="/track">Track</a>
                          </li>
                      </ul>
                  </ng-template>
              </div>
          </div>
      </div>
  </div>
  <!-- End offcanvas-menu -->
</div>
<div class="modal fade" id="myModal" style="margin-top:200px;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body" style="text-align: center;">
        <div style="padding:15px;">
          Are you sure you want to delete this donation?
          <br>
          <div style="padding-top:15px;">
            <button type="button" (click)="deleteDonation()" class="btn btn-sm sppb-btn-primary" data-dismiss="modal" width="100px">Yes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm sppb-btn-primary" data-dismiss="modal" width="60">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>