<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#D96B49"
  loadingText="Please wait..."
  type="ball-scale-multiple">
</ngx-spinner>
<style>
  .form-control {
    width: 95%;
    height: 33px;
    padding-right: 0px;
    padding-left: 10px;
  }

  .sp-module ul>li>a {
    line-height: 25px;
  }

  .sp-module .sp-module-title {
    margin: 0 0 5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .h5 {
    margin-top: 0px;
  }

  article.item {
    margin-bottom: 30px;
  }
</style>
<div class="body-innerwrapper">
    <!-- start top bar -->
    <section id="sp-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="sp-top2" class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="sp-contact-info">
                            <li class="sp-contact-phone">
                                <i class="fa fa-phone"></i>+974 XXXX XXXX</li>
                            <li class="sp-contact-email">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@toys4smile.com">info@toys4smile.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end top bar -->
    <!-- start header -->
    <header id="sp-header">
        <div class="container">
            <div class="row">
                <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                    <div class="sp-column ">
                        <a class="logo" routerLink="/home">
                            <h1>
                                <img class="sp-default-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile">
                                <img class="sp-retina-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile" width="111" height="43">
                            </h1>
                        </a>
                    </div>
                </div>
                <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                    <div class="sp-column ">
                        <div class='sp-megamenu-wrapper'>
                            <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                            <ul *ngIf="!isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/register">Register</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/signin">Sign In</a>
                                </li>
                                <li class="sp-menu-item sp-has-child">
                                    <a routerLink="/donor">Donate</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item">
                                                    <a routerLink="/signin">Donate as Registered User</a>
                                                </li>
                                                <li class="sp-menu-item">
                                                    <a routerLink="/guest">Donate as Guest</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                            </ul>
                            <ul *ngIf="isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                                    <a routerLink="/donor">Donate</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                                    <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                                <li class="sp-menu-item">
                                        <a routerLink="/logout">Sign Out</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
  <section id="sp-page-title">
    <div class="row">
      <div id="sp-title" class="col-sm-12 col-md-12">
        <div class="sp-column ">
          <div class="sp-page-title">
            <div class="container">
              <h2 class="col-sm-6" style="text-align:left">Tracking ID: {{donor.TrackingId}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sp-main-body">
    <div class="container" style="margin-top:20px;">
      <div class="row">
        <div id="sp-component" class="col-sm-12 col-md-12">
          <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div class="blog">
              <div class="items-row row-1 row clearfix">
                <div class="col-sm-12">
                  <article class="item column-1">
                    <div class="entry-header has-post-format">
                      <span class="post-format">
                        <i class="fa fa-gift"></i>
                      </span>
                      <dl class="article-info">
                        <h4>
                          Donor's Detail:
                        </h4>
                        <div style="margin-top:5px;"></div>
                        <dd class="createdby">
                          <i class="fa fa-user"></i>
                          <span *ngIf="donor.firstName !== null" data-toggle="tooltip" title="Donated By:">{{donor.firstName}}</span>
                          <span *ngIf="donor.firstName === null" data-toggle="tooltip" title="Donated By:">Anonymous</span>
                        </dd>
                        <dd class="published">
                          <i class="fa fa-calendar-o"></i>
                          <time datetime="2015-02-02T20:29:50+00:00" data-toggle="tooltip" title="Donated Date:">
                            {{donor.dateOfDonation | slice:0:10}}
                          </time>
                        </dd>
                        <dd class="createdby">
                          <i class="fa fa-envelope-square"></i>
                          <span data-toggle="tooltip" title="Donor's Email ID:">{{donor.email}}</span>
                        </dd>
                        <dd class="createdby">
                          <i class="fa fa-phone-square"></i>
                          <span data-toggle="tooltip" title="Donor's Contact Number:"> {{donor.countrycode}}{{donor.mobile}}</span>
                        </dd>
                        <dd class="createdby">
                          <i class="fa fa-bell"></i>
                          <span data-toggle="tooltip" title="Donation's Current Status:">{{donor.status}}</span>
                        </dd>
                        <br>
                        <dd class="createdby">
                          <i class="fa fa-map-marker"></i>
                          <span data-toggle="tooltip" title="Donor's Address:">
                            {{donor.address}}
                          </span>
                        </dd>
                      </dl>
                    </div>
                  </article>
                  <ng-container *ngFor="let image of imagesList let i = index">
                      <div class="col-md-4">
                          <div  class="item">
                              <img src="{{image.imagePath}}" class="img-responsive img-thumbnail" alt="Donation's Image">  
                          </div>
                          <div class="visible-xs">
                            <br>
                          </div>
                      </div>
                      <ng-container *ngIf="(i+1)%3==0">
                          <div class="clearfix"></div>
                          <br>
                      </ng-container>
                  </ng-container>
                  <!-- end item -->
                </div>
                <!-- end col-sm-* -->
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div style="text-align: center; color:#D96B49; margin-bottom:30px; margin-top:20px;">
        <button data-toggle="tooltip" title="Go Back" routerLink="/admin-donations">
          <span class="fa fa-backward pure-hidden-phone"></span>
        </button>&nbsp;
        <button data-toggle="tooltip" title="Edit Donation">
          <span class="fa fa-edit pure-hidden-phone"></span>
        </button>&nbsp;
        <button data-toggle="tooltip" title="Delete Donation">
          <span class="fa fa-remove pure-hidden-phone"></span>
        </button>
      </div>
  </section>
  <app-footer></app-footer>
  <!-- Start offcanvas-menu -->
  <div class="offcanvas-menu">
      <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
      <div class="offcanvas-inner">
          <div class="sp-module">
              <div class="sp-module-content">
                  <div *ngIf="isLoggedIn; else notLoggedIn">
                      <ul class="nav menu">
                          <li class="sp-menu-item">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                              <a routerLink="/donor">Donate</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                              <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/track">Track</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/logout">Sign Out</a>
                          </li>
                      </ul>
                  </div>
                  <ng-template #notLoggedIn>
                      <ul class="nav menu">
                          <li class="current active deeper parent">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li>
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li>
                              <a routerLink="/register">Register</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Sign In</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Donate as Registered User</a>
                          </li>
                          <li>
                              <a routerLink="/guest">Donate as Guest</a>
                          </li>
                          <li>
                              <a routerLink="/track">Track</a>
                          </li>
                      </ul>
                  </ng-template>
              </div>
          </div>
      </div>
  </div>
  <!-- End offcanvas-menu -->
</div>