<style>
  #lan_countdown.sppb-section {
    padding: 30px 0 30px 0;
  }
</style>
<div class="body-innerwrapper">
    <!-- start top bar -->
    <section id="sp-top-bar">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="sp-column ">
                    <ul class="social-icons">
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
                <div id="sp-top2" class="col-sm-6 col-md-6">
                    <div class="sp-column ">
                        <ul class="sp-contact-info">
                            <li class="sp-contact-phone">
                                <i class="fa fa-phone"></i>+974 XXXX XXXX</li>
                            <li class="sp-contact-email">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@toys4smile.com">info@toys4smile.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end top bar -->
    <!-- start header -->
    <header id="sp-header">
        <div class="container">
            <div class="row">
                <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                    <div class="sp-column ">
                        <a class="logo" routerLink="/home">
                            <h1>
                                <img class="sp-default-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile">
                                <img class="sp-retina-logo" src="assets/frontend/images/presets/preset1/Toys4Smile-Logo.png"
                                    alt="Toy4Smile" width="111" height="43">
                            </h1>
                        </a>
                    </div>
                </div>
                <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                    <div class="sp-column ">
                        <div class='sp-megamenu-wrapper'>
                            <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                            <ul *ngIf="!isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/register">Register</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/signin">Sign In</a>
                                </li>
                                <li class="sp-menu-item sp-has-child">
                                    <a routerLink="/donor">Donate</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item">
                                                    <a routerLink="/signin">Donate as Registered User</a>
                                                </li>
                                                <li class="sp-menu-item">
                                                    <a routerLink="/guest">Donate as Guest</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                            </ul>
                            <ul *ngIf="isLoggedIn" class="sp-megamenu-parent menu-fade-up hidden-xs">
                                <li class="sp-menu-item">
                                    <a routerLink="/home">Home</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/aboutus">About Us</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                                    <a routerLink="/admin/admin-donations">Dashboard</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                                    <a routerLink="/donor">Donate</a>
                                </li>
                                <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                                    <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                                </li>
                                <li class="sp-menu-item">
                                    <a routerLink="/track">Track</a>
                                </li>
                                <li class="sp-menu-item">
                                        <a routerLink="/logout">Sign Out</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
  <!-- start page title -->
  <section id="sp-page-title">
    <div class="row">
      <div id="sp-title" class="col-sm-12 col-md-12">
        <div class="sp-column "></div>
      </div>
    </div>
  </section>
  <!-- end page title -->
  <!-- start main body -->
  <section id="sp-main-body">
    <div class="row">
      <div id="sp-component" class="col-sm-12 col-md-12">
        <div class="sp-column ">
          <div id="system-message-container">
          </div>
          <div id="sp-page-builder" class="sp-page-builder  page-7">
            <div class="page-content">
              <div class="hidden-xs">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/images/slide/banner-1.jpg" alt="Toys4Smile" style="width:100%; height:400px">
                      <div class="carousel-caption">
                        <h2 style="text-shadow: black">Toys4Smile</h2>
                        <p style="text-shadow: black">Help us bring smiles</p>
                      </div>
                    </div>
                    <div class="item">
                      <img src="assets/images/slide/banner-2.jpg" alt="Toys4Smile" style="width:100%; height:400px">
                      <div class="carousel-caption">
                        <h2 style="text-shadow: black">Toys4Smile</h2>
                        <p style="text-shadow: black">Help us bring smiles</p>
                      </div>
                    </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="visible-xs">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/images/slide/banner-3.jpg" alt="Toys4Smile" style="width:100%; height:300px">
                      <div class="carousel-caption">
                        <h2 style="text-shadow: black">Toys4Smile</h2>
                        <p style="text-shadow: black">Help us bring smiles</p>
                      </div>
                    </div>
                    <div class="item">
                      <img src="assets/images/slide/banner-4.jpg" alt="Toys4Smile" style="width:100%; height:300px">
                      <div class="carousel-caption">
                        <h2 style="text-shadow: black">Toys4Smile</h2>
                        <p style="text-shadow: black">Help us bring smiles</p>
                      </div>
                    </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

              <section id="lan_countdown" class="sppb-section">
                <div class="sppb-container">
                  <div class="sppb-row">
                    <div class="sppb-col-sm-12"  style="text-align: center">
                      <div class="sppb-addon-container sppb-wow fadeInLeft">
                        <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                          <div class="sppb-addon-content" style="text-align: center">
                            <p>
                              Help us bring smiles on the faces of these special kids all across Pakistan. Donate the forgotten toys in your kids cabinet and we will ensure they become a source of happiness for them.
                            </p>
                          </div>
                        </div>
                        <div class="sppb-empty-space  clearfix" style="margin-bottom:30px;"></div>
                        <a routerLink="/track" class="sppb-btn sppb-btn-default sppb-btn-  " style="margin:0 15px 0 0; text-align: center;"
                          role="button">Track Donations</a>
                        <a routerLink="/donate" class="sppb-btn sppb-btn-primary sppb-btn-  " role="button">Donate Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <!-- Start offcanvas-menu -->
  <div class="offcanvas-menu">
      <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
      <div class="offcanvas-inner">
          <div class="sp-module">
              <div class="sp-module-content">
                  <div *ngIf="isLoggedIn; else notLoggedIn">
                      <ul class="nav menu">
                          <li class="sp-menu-item">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 1">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 2">
                              <a routerLink="/admin/admin-donations">Dashboard</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 3">
                              <a routerLink="/donor">Donate</a>
                          </li>
                          <li class="sp-menu-item" *ngIf="user?.RoleId === 5">
                              <a routerLink="/orphanage/orphanage-dashboard">Dashboard</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/track">Track</a>
                          </li>
                          <li class="sp-menu-item">
                              <a routerLink="/logout">Sign Out</a>
                          </li>
                      </ul>
                  </div>
                  <ng-template #notLoggedIn>
                      <ul class="nav menu">
                          <li class="current active deeper parent">
                              <a routerLink="/home">Home</a>
                          </li>
                          <li>
                              <a routerLink="/aboutus">About Us</a>
                          </li>
                          <li>
                              <a routerLink="/register">Register</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Sign In</a>
                          </li>
                          <li>
                              <a routerLink="/signin">Donate as Registered User</a>
                          </li>
                          <li>
                              <a routerLink="/guest">Donate as Guest</a>
                          </li>
                          <li>
                              <a routerLink="/track">Track</a>
                          </li>
                      </ul>
                  </ng-template>
              </div>
          </div>
      </div>
  </div>
  <!-- End offcanvas-menu -->
</div>