<!-- start footer -->
<footer id="sp-footer" style="text-align: center;">
  <div class="container">
    <div class="row">
      <div id="sp-footer1" class="col-sm-12">
        <div class="sp-column ">
          <span class="sp-copyright">© 2018 <a href="http://www.toys4smile.com">Toys4Smile</a> - All Rights Reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->